body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.advertisement {
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #BEA69E;
    background-color: #121212;
}


.marquee__inner {
  display: flex;

}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 20px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.sp {
    color: #fff;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}